@{
    ViewData["Title"] = "Welcome";
}

<div class="container mt-5 text-center">
    <h1 class="mb-4">Study Planner</h1>
    <p class="mb-4">Personalized AI-Based Study Planning System</p>

    <div class="d-flex justify-content-center gap-3">
        <a class="btn btn-primary btn-lg" href="/Account/Login">
            Login
        </a>


        <a class="btn btn-outline-secondary btn-lg" href="/Account/Register">
            Register
        </a>
    </div>
</div>
